---
title: "Management"
layout: default
permalink: "/authors-list.html"
---
<div class = "container">
<h3 class="font-weight-bold spanborder"><span>Steering Committee</span></h3>
The platform is governed by the Steering Committee (SC) which consists of representatives from both China and Europe. Main missions are: 1) coordination of running projects on the platform and final approval of new project applications; 2) developing the management mode of the platform and solving major issues reported by the management group (MG); 3) supervising the implementating decisions proposed by all BEF-China members.
<div class="row gap-y listrecent listrecent listauthor">
{% for author in site.data.committee %}
    <div class="col-lg-6 mb-4">
        <div class="p-4 border rounded">
        <div class="row">
        <div class="col-md-3 mb-4 mb-md-0">
          <img alt="{{ author.name }}" src="{{site.baseurl}}{{ author.avatar }}" class="rounded-circle" width="90">
          <!-- <a target="_blank" href="{{ author.web }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> -->
        </div>
        <div class="col-md-9">
        <a href="{{ author.web }}">
        <h4 class="text-dark mb-0"> {{ author.name }} </h4>
        <small class="d-inline-block mt-1 mb-1 font-weight-normal">{{ author.position }}</small><br>
        <small class="d-inline-block mt-1 mb-1 font-weight-normal">{{ author.institute }}</small><br>
        <small class="d-inline-block mt-1 mb-1 font-weight-normal"><i class="fa fa-envelope" aria-hidden="true"></i> {{ author.email }}</small>
        </a>
        </div>
        </div>
        </div>
    </div>
{% endfor %}
</div>
</hr>

<h4 class="font-weight-bold spanborder"><span>Management Group</span></h4>
The members of the Management Group (MG) are scientists from the Institute of Botany, CAS and Jingdezhen University. Main missions are: 1) implementing the decisions of the SC; 2) being responsible for routine management of lab and field sites; 3) being responsible for financial management; 4) checking applications of membership, data and paper proposals.
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.data.members %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}{{ author.avatar }}" class="rounded-circle" width="90"></div>
            <div class="col-md-9">
            <a href="{{ author.web }}">
            <h4 class="text-dark mb-0"> {{ author.name }} </h4>
            <!-- <a target="_blank" href="{{ author.web }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp; -->
            <small class="d-inline-block mt-1 mb-1 font-weight-normal">{{ author.position }}</small><br>
            <small class="d-inline-block mt-1 mb-1 font-weight-normal">{{ author.institute }}</small><br>
            <small class="d-inline-block mt-1 mb-1 font-weight-normal"><i class="fa fa-envelope" aria-hidden="true"></i> {{ author.email }}</small>
            </a>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
