---
layout: default
title: "Projects"
permalink: "/projects.html"
image: "/assets/img/XGS-3.jpg"
---
<div class="container">
<div class="row">
    <div class="col-md-3">
        {% include sidebar-projects.html %}
    </div>
    <div class="col-md-8">
    {% if page.image %}
    <img class="card-img-top mb-5 shadow-lg" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}">
    {% endif %}

    </br>
    <div class="page-content">
    <p>Research focuses on multiple diversity dimensions, multiple ecosystem components and multiple ecosystem functions. The dimensions of biodiversity include species diversity, functional diversity and genetic diversity; the components of ecosystems include plants, animals and microorganisms; and the functions of ecosystems include productivity, nutrient cycling, decomposition, multi-trophic interactions, resistance to soil erosion and other stress-resistance abilities.</p>
    <h3>Project Applications</h3>
    <p>If you wish to apply for a new project in BEF-China, please download <a href="{{site.baseurl}}/assets/file/Application template for working in BEF-China platform.docx">the application form</a>.</p>
    </div>
    </div>

</div>
</div>
