<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/sites.html">Sites</a>
</li>

<div class="dropdown">
  <a class="nav-link">Projects</a>
  <div class="dropdown-content">
  <a href="{{ site.baseurl }}/treedi.html"><small>TreeDi Projects</small></a>
  <a href="{{ site.baseurl }}/otherprojects.html"><small>Other Ongoing Projects</small></a>
  <a href="{{ site.baseurl }}/previousprojects.html"><small>Previous Projects</small></a>
  </div>
</div>

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Management</a>
</li>

<div class="dropdown">
  <a class="nav-link" href="{{site.baseurl}}/publications.html">Publications</a>
  <div class="dropdown-content">
  <a href="{{ site.baseurl }}/gts_publication.html"><small>CSPs Publications</small></a>
  <a href="{{ site.baseurl }}/xgs_publication.html"><small>Main Experiments Publications</small></a>
  </div>
</div>



<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>


<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news/index.html">News</a>
</li> -->
